# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
4th
4tsh
# Packages
*.deb
*.opk
*.ipk

sources/editor.h
sources/mon.h
sources/pp4th
sources/pp4th.h
sources/teditor.h
sources/zeditor.h
sources/lib4th.a

*.c~
nothing added to commit but untracked files present (use "git add" to track)
